.titulo{
  
  color: rgb(158, 255, 255);
}
.colorcito {
  --background: var(--ion-color-micolor); // Replace this with color of your choice
  }
  .parrafo{
    text-align: justify;
    color:rgb(0, 0, 0);
}





































/*
ion-content{
    --ion-background-color:#111D12;


}*/
