.colorcito {
    --background: var(--ion-color-light); // Replace this with color of your choice
    }

.colorcito1 {
    --background: var(--ion-color-light); // Replace this with color of your choice
}
.colorcito2 {
    --color: var(--ion-color-color2); // Replace this with color of your choice
}
.colorcito22 {
    --background: var(--ion-color-color2); // Replace this with color of your choice
}
.colorcito3 {
    --color: var(--ion-color-color3); // Replace this with color of your choice
}
.colorcito4 {
    --color: var(--ion-color-color4); // Replace this with color of your choice
    --background: var(--ion-color-light); // Replace this with color of your choice
}
