<ion-content class="colorcito">


  <img src="assets/logo.jpg" width="500" height="300" expand="full">
  


<ion-card>

  <ion-card-header>
    <p class="parrafo">
      Somos un equipo que nos especializamos en la construccion de apps he implementacion de herramientas digitales. Esperamos que su experiencia en nuestra app sea gratificante y eficaz para usted, ingrese dependiendo si usted quiere ser un conductor o pasajero.
   </p>
  </ion-card-header>
  <ion-card-content>
    <h1 class="ion-padding-center">Ingresar como :</h1>
    <ion-button routerLink="/login-conductor" size="large" shape="round" expand="block" fill="outline" color="warning" >
      conductor
    </ion-button>
    <ion-button routerLink="/login" size="large" shape="round" expand="block" fill="outline" color="primary">
      pasajero
    </ion-button>
  </ion-card-content>
</ion-card>
</ion-content>